*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family:"Cairo", sans-serif;
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
    background:rgb(255, 255, 255);
    }

    a{
        text-decoration: none;
        color: inherit;
    }
/* ----------------------------------------------------header------------------------------------------------------------ */

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    padding: 5px 0;
    height: auto;
}

.main-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.second-header{
    display: none;
}

.logo{
    padding: 13px 0;
    margin-left: 10px;
    max-width: 138px;
}

.section-right{
    display: flex;
    flex-direction: row;
}

.language{
    display: none;
}

.search-menu{
    display: flex;
    align-items: center;
}
 .search{
    position: relative;
    display: flex;
 }

.search-icon{
    content: '';
    display: inline-block;
    width: 30px;
    height: 25px;
    vertical-align: middle;
    margin-top: -2px;
    opacity: 0.6;
    background: url(images/icons/search.svg) center center / contain no-repeat;
}

.search button {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
}

.search input[type="text"] {
    display: inline-block;
    position: absolute;
    right: 50px; /* Position initiale */
    top: -9px;
    width: 0;
    opacity: 0; /* Initialement transparent */
    transition: width 0.4s linear, opacity 0.4s linear; /* Transition sur largeur et opacité */
    font-size: 16px;
    padding: 8px;
    margin-right: 10px;
    border: 1px dashed #000000;
    border-radius: 0;
    outline: none;
}

.search input::placeholder {
    color: #462c86;
  }
  
/* ----------------------------------Menu--------------------------- */


.menu-btn{
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 2px;
    background-color: #280071;
    text-align: center;
    margin-right: 10px;
}

.menu-icon{
    content: url('images/icons/menu1.svg');
    color: #fbfbfb;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: -2px;
    opacity: 0.6;
}

.menu-list{
    display: none;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
}

.menu-list a{
    text-decoration: none;
    color: #270070;
    padding: 15px 20px;
}

.menu-list a:hover{
    color: #000;
}

.second-menu-list{
    display: none;
}

.Contact{
    display: none;
}

/* ------------------------------------main-------------- */


.main-intro{
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
}

.bg-v{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Important pour que la vidéo couvre toute la surface */
    z-index: -1;
}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: scale(0); /* Réduit à 50% de sa taille */
    transition: transform 1.5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slogan{
    color: #e2bebe;
    margin-bottom: 20px;
}

.slogan h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.slogan h2{
    font-size: 27px;
    font-weight: 500;
    margin: 0;
}

.product-presentation{
    position: relative;
    width: 100%;
}

.product{
    opacity: 1;
    transform: translateY(0);
    transition: transform 1.5s ease-in, opacity 1.5s ease;
    width: 95%;
    z-index: -1;
    padding: 20px;
    margin-left: 10px;
    background: rgba(40, 0, 113, 0.775);
}

.item{
    color: #fbfbfb;
    line-height: 1rem;
}

.item h3{
    font-size: 19px;
    font-weight: 500;
}
.about-us{
    transform: translateY(-50px);
}

.illustrate{
    position: relative;
    translate: -99.9%;
}

.illustrate::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #270070 0%, #270070 0%,#27007000 50%, #27007000 100%); /* Dégradé noir vers transparent */
    z-index: 1;
}

.illustrate img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description{
    padding-left: 10px;
    transform: scale(0.5); /* Réduit à 50% de sa taille */
    transition: transform 2s ease, translate 1.5s ease-in ;    
}

.description h1{
    color: #280071;
    font-size: 30px;
    opacity: 0;
    transition: opacity 2s ease;
}

.text-description {
    color: #000000;
    font-size: 18px;
    line-height: 2rem;
    font-weight: 100;
    
}

.button{
    display: inline-block;
    margin: 0 15px;
    padding: 13px;
    background-color: #280071;
}

.button:hover{
    transform: translateY(-8px); 
    transition: transform 0.3s ease;
}

.button a{
    color: #fbfbfb;
    font-weight: bold;
}

.title ,.subtitle{
    display: flex;
    justify-content: space-around;
}

.title h1{
    font-size: 28px;
    font-weight:600;
    text-align: center;
    color: #280071;
}

.subtitle{
    font-size: 17px;
    font-weight: 300;
    color: #000000;
}

.areas-illustration{
    margin: 20px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.areas-illustration a{
    text-align: center;
    width: 100%;
    height: 100%;
}

.area-content {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    
}

.oil-bg{
    display: flex;
    width: 100%;
    height: 77vw;
    background: url(images/oil&gas3.jpg) ;
    background-size: cover; /* Pour couvrir toute la zone */
    position: relative; 
}

.energie-bg {
    display: flex;
    width: 100%;
    height: 77vw;
    background: url(images/photovoltaic.jpg);
    background-size: cover; /* Pour couvrir toute la zone */
    position: relative; 
}

.water-bg {
    display: flex;
    width: 100%;
    height: 77vw;
    background: url(images/water2.jpg);
    background-size: cover; /* Pour couvrir toute la zone */
    position: relative; 
}

.tech-bg{
    display: flex;
    width: 100%;
    height: 77vw;
    background: url(images/software.jpg);
    background-size: cover; /* Pour couvrir toute la zone */
    position: relative; 
}

.oil-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 0, 113, 0.5);
    z-index: 1; /* S'assure que l'overlay est au-dessus de l'image */
}

.oil-bg:hover::before {
    opacity: 0;
    transition: opacity 0.3s ease; /* Rend l'overlay transparent */
}

.energie-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #765ba5af; 
    z-index: 1; /* S'assure que l'overlay est au-dessus de l'image */
}

.energie-bg:hover::before {
    opacity: 0;
    transition: opacity 0.3s ease; /* Rend l'overlay transparent */
}

.water-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3f1313b7; 
    z-index: 1; /* S'assure que l'overlay est au-dessus de l'image */
}

.water-bg:hover::before {
    opacity: 0;
    transition: opacity 0.3s ease; /* Rend l'overlay transparent */
}

.tech-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #133f3da7; 
    z-index: 1; /* S'assure que l'overlay est au-dessus de l'image */
}

.tech-bg:hover::before {
    opacity: 0;
    transition: opacity 0.3s ease; /* Rend l'overlay transparent */
}

.oil,
.energie,
.water,
.tech{
    align-content:center;
    position: relative; /* Pour que le texte soit au-dessus de l'overlay */
    z-index: 2;
    color: #ffff;
    font-size: 30px;
    font-weight: bold;
}

.knowmore {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.strong-desc{
    text-align: center;
    color: #000000;
}

.strong-desc h1{
    font-size: 2em;
    color: #280071;
}

.strong-desc h5{
    font-size: 18px;
    font-weight: 500;
    color: #111820;
}

.strong{
    margin: 40px 30px;
    padding: 25px 0;
    background-color: #D7D0D0;
    border-bottom: solid 8px #280071;
}

.strong::before{
    content: '';
    display: inline-block;
    width: 65px;
    height: 65px;
    vertical-align: middle;
    margin-bottom: 20px;
    background-image: url(images/icons/users.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.strong-2::before{
    background-image: url(images/icons/hand-holding.svg);
}

.strong-3::before{
    background-image: url(images/icons/head-side.svg);
}

.strong-title{
    font-size: 24px;
    font-weight: 500;
    color: #111820;
}

.strong-description{
    line-height: 1.5rem;
    font-size: 16px;
    font-weight: 300;
    padding: 0 20px;
}

.img-desc-2{
    display: none;
}

.desc{
    margin: 20px 20px;
    transform: scale(0.5); /* Réduit à 50% de sa taille */
    transition: transform 2s ease, translate 1.5s ease-in ;   
}

.desc p{
    color: #111820;
    font-size: 16px;
    font-weight: lighter;
    line-height: 2rem;
    margin: 0 0 18px;
}

.job-offer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    height: 525px;
    border-radius: 5px;
    background: url(images/water1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.button-job:hover{
    opacity: 1;
    transform: translateY(-8px); 
    transition: transform 0.3s ease;
}

.button-job{
    display: flex;
    margin: 0 15px;
    padding: 13px;
    align-items: center;
    height: 70px;
    opacity: 0.8;
    background-color: #280071;
}

.button-job a{
    color: #fbfbfb;
    font-weight: bold;
}

/* ---------------------------------------------------------footer---------------------------------------------------------- */
.footer{
    color: #fff;
}

ul{
    margin: 0;
}

.main-footer{
    padding-bottom: 35px;
    background-color: #270070;
}

.footer-background{
    height: 400px;
    background: url(images/platform1.jpg) no-repeat;
}

.footer-description{
    height: 400px;
    align-items: center;
    padding: 140px 60px;
    font-size: 17px;
    line-height: 1.5em;
    color: #fff;
    background-color: #280071a1;
}

.footer-description h3{
    font-size: 26px;
    font-weight: 600;
}

.useful{
    padding: 0 30px;
}

.useful ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 2em;
}

.useful li{
    position: relative;
    padding-left: 22px;
}

.useful li::before{
    content: "\0025a0"; 
    font-size: var(--e-icon-list-icon-size);
    color: #9E263D; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.contacts{
    line-height: 2rem;
}

.contacts a::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 8px;
    opacity: 0.6;
    background: url(images/icons/location.svg) center center / contain no-repeat;
}

.mail a::before{
    background: url(images/icons/telephone.svg) center center / contain no-repeat;
}

.social-media{
    display: flex;
    margin: 18px 0;
}

.social-media a{
    margin: 0 2px;
}

.facebook,
.linkedin,
.twitter{
    opacity: 0.85;
}

.facebook:hover,
.linkedin:hover,
.twitter:hover{
    opacity: 1;
}

.rights{
    display: flex;
    align-items: center;
    height: 85px;
    padding: 0 25px;
    margin-top: 0;
    background-color: #280071E8;
}

.copyright{
    font-size: 15px;
}
/*--------------------------------------media-------------------*/
/*--------------------------------------largeur minimum de 600px-------------------*/
@media screen and (min-width : 600px) {
    .areas-illustration{
        flex-direction: row;
        margin: 30px 15px;
        }
    
    .oil-bg,
    .energie-bg,
    .water-bg,
    .tech-bg{
        height: 32vw; 
    }

/*-----------------------Footer------------------------ */
.main-footer{
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    }
   
.footer-background{
width: 40vw;
height: 64vw;
background-size: cover;
}

.footer-description{
    padding: 50px 30px;
    width: 40vw;
    height: 64vw;
}

.footer-description h3{
    font-size: 20px;
    margin: 0;
}

.useful{
display: flex;
flex-direction: row;
padding: 24px;
justify-content: space-between;
width:60%;
}

.useful h1{
    display: flex;
    flex-wrap: wrap;
}

.useful div{
    width: 146px;
    padding: 5px;
}

.social-media{
    flex-direction: row;
    flex-wrap: wrap;
}

.social-media div{
    width: 60px;
}
}

/*--------------------------------------largeur minimum de 900px-------------------*/
@media screen and (min-width : 900px) {
/*--------------------------------------header-------------------*/   

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
    height: 67px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo img{
    width: 120px;
}



/*--------------------------------------main-------------------*/
.slogan h1{
font-size: 47px;
font-weight: 500;
}
.slogan h2{
font-size: 50px;
}

.about-us{
display: flex;
flex-direction: row;
}

.illustrate{
width: 50%;
}

.illustrate img{
object-fit: fill;
}

.description{
width: 50%;
padding: 60px 70px;
}

.strong-point{
display: flex;
flex-direction: row;
margin: 0 11%;
}

.strong{
flex: 1;
margin: 40px 20px;
}

.desc{
padding-left: 180px;
}

.job-offer{
width: 80%;
height: 645px;
margin-left: 10%;
background-size: cover;
background-color: #111820;
}

/*--------------------------Footer----------------------*/

}

@media screen and (min-width : 1200px) {
/*------------------------Header----------------------*/
.menu{
    display: none;
} 

.language{
    display: flex;
    align-items: center;
}

.language div{
    text-decoration: none;
    margin: 0 2px;
}

.language a{
    text-decoration: none;
    font-size: 16px;
    padding-left: 10px;
}

.search-icon{
    width: 30px;
    height: 30px;
}

.search input[type="text"] {
    display: inline-block;
    position: absolute;
    right: 50px;
    top: -9px;
    width: 0;
    opacity: 0; /* Initialement transparent */
    transition: width 0.4s linear, opacity 0.4s linear; /* Transition sur largeur et opacité */
    font-size: 16px;
    padding: 8px;
    margin-right: 10px;
    border: 1px dashed #000000;
    border-radius: 0;
    outline: none;
}

.Contact{
    display: inline;
    }

.contact-btn:hover{
    opacity: 1;
    transition: opacity 0.2s linear;
    }

.contact-btn{
    width: 130px;
    height: 40px;
    margin: 0 15px;
    border: none;
    border-radius: 3px;
    opacity: 0.8;
    background-color: #280071;
    text-align: center;
}


.contact-link{
color:#fbfbfb;
font-size: 14px;
}

.second-menu-list{
    display: flex;
    justify-content: space-between;
    /* font-size: 16px; */
    margin: 20px 40px;
}

.second-menu-list div:hover{
    color: #280071;
    transform: scale(1.1);
    transition: transform 0.5s ease, color 0.5s ease;
}

.second-menu-list a{
    text-decoration: none;
    padding: 0 16px;
    font-size: 16px;
}

/*------------------------main-------------------------*/

.product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 69%;
    height: 143px;
    margin: 1.5% auto;
    padding-left: 50px;
    padding-right: 100px;
    }
    
.item h3{
/* font-size: 28px; */
padding-bottom: 20px;
}

.img-desc{
    width: 40%;
    /* height: 200px; */
    float: right;
}

.img-desc-2{
    display: flex;
    /* width: 20%; */
    height: 380px;
    float: left;
    }
}